body{
    overflow-x: hidden !important;
}
.btn-primary{
    transition: transform 0.2s ease-in-out !important;
}
.btn-primary:hover{
    transform: scale(1.1) !important;
    filter: brightness(90%) !important;
}
.c-item{
    height: 500px;
}
.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}
.card-icon{
    margin: 0 1rem;
    align-self: center;
}
.card-icon i{
    font-size: 3rem;
}
.card-item{
    background-color: #3286EC;
    color: whitesmoke;
    padding: 3em 0;
    border: 1;
    border-radius: 4em 0;
    background: linear-gradient(to left, #3286EC 50%, #8c8c8c 50%);
    background-size: 200%;
    background-position: right;
    transition: all 0.5s ease;
}
.card-item:hover{
    background-position: left;
}
.background-div {
    width: 100%; /* Adjust width as needed */
    height: 100%; /* Adjust height as needed */
    background-image: url('../img/aiTech.jpg'); /* Specify the path to your image */
    background-size: cover; /* Cover the entire background */
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
    filter: brightness(0.9);
 /* Center the background image */
    /* Additional styles if needed */
}
.single-box{
    position:relative;
    margin-top: 20px;
    margin-bottom: 80px;
    margin-left: 80px;
}
.img-area{
    position: absolute;
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.img-area img{
    width: 100%;
    height: auto;
}
.cardheader{
    background:#8c8c8c ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    color: white;
    font-variant-caps: titling-caps;
}
.cardfooter{
    background: #3286EC;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.imghover{
    transition: all 0.3s;
}
.imghover:hover{
    transform: scale(1.05);
}
hr {
    border: none;
    height: 2px; /* Adjust height as needed */
    background-color: #3286EC; /* Adjust color as needed */
    width: 100%; /* Adjust width as needed */
    margin: 20px auto; /* Center horizontally and add space vertically */
}
.masterhead{
    background-image: url('../img/electronicEng.jpg');
    background-size: cover;
    min-height: 60vh;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    color: #3286EC;
    z-index: -1;
    filter: brightness(0.9);
}
