{% extends 'tetautoapp/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid p-5 mb-2 text-white text-center" style="background: linear-gradient(#8c8c8c, #3286ec)">
    <h2>About Our Company</h2>
</div>


<div class="container text-center" style="color: #8c8c8c;">
    <p class="fw-bold text-uppercase" >Who are we?</p>
    <div class="row">
        <div class="col">
            <h1>Tetratech Automation Controls</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <!-- HR tag -->
            <hr>
        </div>
    </div>

    <!-- Brief description about the company -->
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <p>
            Is a firm specializing in engineering, consulting, designing and
            manufacturing of motor control centres and integration of automated production systems.
            We provide innovative technological solutions to a wild range of customers in the fields of
            mining, food and beverages, manufacturing and industrial processes with the help of our
            team of qualified experts in mechanics, electricity, automation, robotics, instrumentation and
            information systems.

            Our talented employees focus their energy on helping businesses meet the challenges of to-
            day's new economic realities, such as globalization, competitiveness and ever changing com-
            modity and energy prices.
            </p>
        </div>
    </div>

    <!-- Our vision -->
    <div class="row">
        <div class="col">
            <h2>
                Our Vision
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <p>
                Our vision is to excel as one of the best turnkey Automation Project Pro-
                vider under one roof with international Quality Standard. We will achieve
                
                this through excellence in service,
                
                innovation and providing our customers cutting edge engineering solu-
                tions and access to leading global product brands.
            </p>
        </div>
    </div>


        <!-- Our mision -->
        <div class="row">
            <div class="col">
                <h2>
                    Our Mision
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <p>
                    Our mission is to work alongside clients to develop efficient and afford-
                    able solutions to meet the most stringent requirements, constantly striv-
                    ing to keep our knowledge up to date in a world where technology is
                    
                    always evolving.
                </p>
            </div>
        </div>


                <!-- Code Of Ethics. -->
                <div class="row">
                    <div class="col">
                        <h2>
                            Code Of Ethics
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <p>
                            We are committed to the highest standard of integrity, behaviour and
                            ethics when dealing with all stakeholders, including our shareholders, joint
                            venture partners, employees and customers.
                        </p>
                    </div>
                </div>


                                <!-- Why should you chose us. -->
                                <div class="row">
                                    <div class="col">
                                        <h2>
                                            Why should you chose us?
                                        </h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 offset-md-3">
                                        <p>
                                            We firmly believe in customer’s involvement in the project and we encourage you to bring
                                            to the table your knowledge of the environment. Clients are the specialist when it comes to
                                            their products and their market. Clients excel in your field, and we excel in ours: the field of
                                            automation.
                                        </p>
                                        <p>
                                            We are highly experienced in the industry, and the sole goal of our experienced staff is to
                                            identify challenges in order to offer clients innovative solutions that will yield substantial
                                            saving and improve their productivity.
                                        </p>
                                        <p>
                                            We have what it takes to increase your efficiency by optimizing a strategic production unit
                                            within your companies or by designing an overall plan to improve productivity.
                                            Our extensive experience with systems puts us in an ideal position to help clients achieve
                                            the industrial efficiency they are seeking, minimizing costs while respecting the quality of
                                            products.
                                        </p>
                                    </div>
                                </div>

</div>

{% endblock %}