{% extends 'tetautoapp/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid p-5 mb-2 text-white text-center" style="background: linear-gradient(#8c8c8c, #3286ec)">
    <h2>Our Clients</h2>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <img src="/static/img/Freda.jpg" class="card-img-top mb-5" alt="...">
        </div>
        <div class="col">
            <img src="/static/img/Azzar.jpg" class="card-img-top mb-5" alt="...">
        </div>
        <div class="col">
            <img src="/static/img/Fuhlers.jpg" class="card-img-top mb-5" alt="...">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="/static/img/bjc.jpg" class="card-img-top mb-5" alt="...">
        </div>
        <div class="col">
            <img src="/static/img/dcc.jpg" class="card-img-top mb-5" alt="...">
        </div>
        
        <div class="col">
            <img src="/static/img/BOC.jpg" class="card-img-top mb-5" alt="...">
        </div>
    </div>
</div>
{% endblock %}