{% extends 'tetautoapp/base.html' %}
{% load static %}

{% block content %}
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active c-item" data-bs-interval="10000">       
        <img src="static/img/roblambert.jpg" class="d-block w-100 c-img" alt="...">
        <div class="carousel-caption top-0 mt-4">
            <p class="animate__animated animate__slideInDown animate_slower mt-5 fs-3 text-uppercase"> Electrical & instrumentation services</p>
            <h1 class="animate__animated animate__slideInUp display-1 fw-bolder text-capitalize">Engineering Services</h1>
            <br>
            <button type="button" class="animate__animated animate__rotateInUpRight btn btn-primary btn-lg rounded-pill" style="background-color: #3286ec;">Contact Us</button>
        </div> 
      </div>
      <div class="carousel-item c-item" data-bs-interval="2000">
        <img src="static/img/mostafa.jpg" class="d-block w-100 c-img" alt="...">
        <div class="carousel-caption top-0 mt-4">
            <p class="animate__animated animate__slideInDown mt-5 fs-3 text-uppercase">we deliver quality, safety & productivity<p>
            <h1 class="animate__animated animate__slideInUp display-1 fw-bolder text-capitalize">Project management</h1><br>
            <button type="button" class="animate__animated animate__rotateInUpRight btn btn-primary btn-lg rounded-pill" style="background-color: #3286ec;">Our clients</button>
        </div>         
      </div>
      <div class="carousel-item c-item">
        <img src="static/img/thisisengineering.jpg" class="d-block w-100 c-img" alt="...">
        <div class="carousel-caption top-0 mt-4">
            <p class="animate__animated animate__slideInDown mt-5 fs-3 text-uppercase">Realiable supplier of quality products</p>
            <h1 class="animate__animated animate__slideInUp display-1 fw-bolder text-capitalize">Procurement services</h1><br>
            <button type="button" class="animate__animated animate__rotateInUpRight btn btn-primary btn-lg rounded-pill" style="background-color: #3286ec;">Our services</button>
        </div>         
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

    <p>This is the home tab!</p>

{% endblock %}
