{% extends 'tetautoapp/base.html' %}
{% load static %}

{% block content %}
<!-- Code for Carousel start -->
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active c-item" data-bs-interval="6000">       
        <img src="{% static 'img/roblambert.jpg' %}" class="d-block w-100 c-img" alt="...">
        <div class="carousel-caption top-0 mt-4">
            <p class="animate__animated animate__slideInDown animate_slower mt-5 fs-3 text-uppercase"> Electrical & instrumentation services</p>
            <h1 class="animate__animated animate__slideInUp display-1 fw-bolder text-capitalize">Engineering Services</h1>
            <br>
            <a href="{% url 'tetautoapp:contact' %}"> <button type="button" class="animate__animated animate__rotateInUpRight btn btn-primary btn-lg rounded-pill" style="background-color: #3286ec;">Contact Us</button></a>
        </div> 
      </div>
      <div class="carousel-item c-item" data-bs-interval="6000">
        <img src="{% static 'img/mostafa.jpg' %}" class="d-block w-100 c-img" alt="...">
        <div class="carousel-caption top-0 mt-4">
            <p class="animate__animated animate__slideInDown mt-5 fs-3 text-uppercase">we deliver quality, safety & productivity<p>
            <h1 class="animate__animated animate__slideInUp display-1 fw-bolder text-capitalize">Project management</h1><br>
             <a href="{% url 'tetautoapp:cliental' %}"> <button type="button" class="animate__animated animate__rotateInUpRight btn btn-primary btn-lg rounded-pill btn-onhover" style="background-color: #3286ec;">Our clients</button></a>
        </div>         
      </div>
      <div class="carousel-item c-item">
        <img src="{% static 'img/thisisengineering.jpg' %}" class="d-block w-100 c-img" alt="...">
        <div class="carousel-caption top-0 mt-4">
            <p class="animate__animated animate__slideInDown mt-5 fs-3 text-uppercase">Realiable supplier of quality products</p>
            <h1 class="animate__animated animate__slideInUp display-1 fw-bolder text-capitalize">Procurement services</h1><br>
             <a href="{% url 'tetautoapp:ourServices' %}"> <button type="button" class="animate__animated animate__rotateInUpRight btn btn-primary btn-onhover btn-lg rounded-pill" style="background-color: #3286ec;">Our services</button></a>
        </div>         
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
  <!-- Code for Carousel end -->


  <!-- Code for Cards start -->
  <div class="container mt-5">
  <div class="row row-cols-md-3" style="padding-left: 4em;">
    <div class="col">
      <div class="card h-100 card-item" style="width: 17rem;">
        <div class="card-icon"><i class="bi bi-tools"></i></div>

        <div class="card-body">
          <h5 class="card-title text-center fw-bolder text-uppercase">Automation Services</h5>
          <p class="card-text">We offer state of the art facilities in automation sector of Zimbabwe in-order to provide proven solutions for Process Automation, Batch Control and Production Information. Our innovative solutions emphasize on customer satisfaction which are fundamental to successful automation projects. </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 card-item" style="width: 17rem;">
        <div class="card-icon"><i class="bi bi-gear-wide-connected"></i></div>
        <div class="card-body">
          <h5 class="card-title text-center text-uppercase fw-bolder">Project  management</h5>
          <p class="card-text">
            We provide multi-disciplined engineering and project management services including conceptual engineering, front-end engineering, detailed engineering and design, project management controls and estimating, with procurement, construction, turnaround, commissioning and start-up support services as needed.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 card-item" style="width: 17rem;">
        <div class="card-icon"><i class="bi bi-wrench-adjustable"></i></div>
        <div class="card-body">
          <h5 class="card-title text-center text-uppercase fw-bolder">Engineering procurement</h5>
          <p class="card-text">We specialise in powering projects to success by procuring essential, quality components, we streamline the entire process for seamless execution. Our expertise ensures efficient sourcing of material.</p>
        </div>
      </div>
    </div>
  </div>
  </div>
  <br>
<!-- Code for Cards end -->


<!-- Code for floating card start -->
<div class="background-div mt-5">
    <div class="contanier">
      <div class="row justify-content-center g-5">
        <div class="col-11 mb-5">
          <div class="card text-center">
            <div class="card-header cardheader">
              Brands that we work with
            </div>
            <div class="card-body">
              
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <div class="row">
                            <div class="col-md-3">
                              <div class="single-box">
                                <div class="img-area"><img src="{% static 'img/Siemens logo.jpg' %}" alt="logo"></div>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="single-box">
                                <div class="img-area"><img src="{% static 'img/schneider.jpg' %}" alt="logo"></div>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="single-box">
                                <div class="img-area"><img src="{% static 'img/Omron.jpg' %}" alt="logo"></div>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="single-box">
                                <div class="img-area"><img src="{% static 'img/TOSHIBA.jpg' %}" alt="logo"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="carousel-item">
                          <div class="row">
                            <div class="col-md-3">
                              <div class="single-box">
                                <div class="img-area"><img src="{% static 'img/SIBA.jpg' %}" alt="logo"></div>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="single-box">
                                <div class="img-area"><img src="{% static 'img/ABB.jpg' %}" alt="logo"></div>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="single-box">
                                <div class="img-area"><img src="{% static 'img/COOPER BUSSMAN.jpg' %}" alt="logo"></div>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="single-box">
                                <div class="img-area"><img src="{% static 'img/Danfoss.jpg' %}" alt="logo"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="carousel-item">
                          <div class="row">
                            <div class="col-md-3">
                              <div class="single-box">
                                <div class="img-area"><img src="{% static 'img/Delta.jpg' %}" alt="logo"></div>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="single-box">
                                <div class="img-area"><img src="{% static 'img/Weg.jpg' %}" alt="logo"></div>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="single-box">
                                <div class="img-area"><img src="{% static 'img/Rosemount.jpg' %}" alt="logo"></div>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="single-box">
                                <div class="img-area"><img src="{% static 'img/Festo.jpg' %}" alt="logo"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

            </div>
            <div class="card-footer cardheader">
              Quality is what we sell
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<!-- Code floating Card end -->





<!-- Code for feature cards start -->

<div class="container mt-5 mb-5">
  <hr>
  <div class="row featurette">
    <div class="col-md-7 align-self-center">
      <h2 class="featurette-heading fw-normal lh-1">Process Control and Safety Systems</h2>
      <ul>
        <li>User Defined / Requirement Specifications</li>
        <li>Software engineering – All elements</li>
        <li>Hardware specification and set up</li>
        <li>Factory Acceptance Testing (Internal, Customer and Site)</li>
        <li>Cabinet design, layout and building</li>
        <li>Cabinet and layout CAD drawings</li>
        <li>Engineers and Operator Training</li>
      </ul>
    
    </div>

    <div class="col-md-5">
        <img class="img-fluid imghover img-thumbnail" src="{% static 'img/emnu.jpg' %}"/>
    </div>
  </div>



<hr>
  <div class="row featurette">
    <div class="col-md-7 order-md-2 align-self-center">
      <h2 class="featurette-heading fw-normal lh-1">Valves, Actuators, Regulators and Relief Valves</h2>
     <ul>
      <li>Planned onsite services</li>
      <li>Emergency onsite services</li>
      <li>Technical support – remote or local</li>
      <li>Embedded resources</li>
      <li>Service support agreements</li>
      <li>Parts management – own or customer</li>
     </ul>
    </div>
    <div class="col-md-5 order-md-1 pl-2">
        <img class="img-fluid imghover img-thumbnail" src="{% static 'img/bernd.jpg' %}"/>
    </div>
  </div>


  <hr>
  <div class="row featurette">
    <div class="col-md-7 align-self-center">
      <h2 class="featurette-heading fw-normal lh-1">Measurement and Analytical Instrumentation</h2>
      <ul>
        <li>Planned onsite services</li>
        <li>Emergency onsite services</li>
        <li>Technical support – remote or local</li>
        <li>Embedded resources</li>
        <li>Service support agreements</li>
        <li>Parts management – own or customer</li>
      </ul>
    
    </div>
    <div class="col-md-5">
        <img class="img-fluid imghover img-thumbnail" src="{% static 'img/minku.jpg' %}"/>
    </div>
  </div>


  <hr>
  <div class="row featurette">
    <div class="col-md-7 order-md-2 align-self-center">
      <h2 class="featurette-heading fw-normal lh-1">Substation automation and protection</h2>
      <p> We design and commision substation automation and protection systems that ensure reliable power supply, protect electrical sstems from faults, isolate faults from the overall network and ensure that power systems remain stable.</p>
      <p>Our automation systems give you visibility inot your Power Suppyly system, as well as crtical parameters such as Power Factor and Power Consumption.</p>
    </div>
    <div class="col-md-5 order-md-1 pl-2">
        <img class="img-fluid imghover img-thumbnail" src="{% static 'img/sub.jpg' %}"/>
    </div>
  </div>


</div>
<!-- Code for feature cards end -->

{% endblock %}
