{% extends 'tetautoapp/base.html' %}
{% load static %}

{% block content %}
<div class="masterhead d-flex justify-content-center align-items-center">
    <h1 class="animate__animated animate__slideInUp display-1 fw-bolder text-capitalize">Our Services</h1>
</div>




<!-- Cards start here -->
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="card border-info h-100" style="width: 20rem;">
                <img src="{% static 'img/PLC.jpg' %}" class="card-img-top mb-5" alt="...">
                <div class="card-body">
                <h5 class="card-title">Industrial Automation System</h5>
                <p class="card-text">We take your problem definition, study your plant operation or desired
                    operation and evaluate the requirements. We offer vast services in this area from designing, layout drawing, programming/reprogramming of instrumentation 
                    components and implementation. </p>
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item">PLC Programming</li>
                <li class="list-group-item">Third Party Systems Integration e.g VFD, Scanners</li>
                <li class="list-group-item">SCADA Development</li>
                <li class="list-group-item">Typical electrical schematics</li>
                </ul>
            </div>
        </div>


        <div class="col">
            <div class="card border-info h-100" style="width: 20rem;">
                <img src="{% static 'img/MES.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Manufacturing Execution Systems</h5>
                <p class="card-text">We take automation to the next level by interfacing the control system with the business systems to
                    achieve production resource planning and scheduling, production performance management and
                    integration with Enterprise Resource Planning systems.</p>
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item">Production management</li>
                <li class="list-group-item">Inventory operations management</li>
                <li class="list-group-item">Plant performance management</li>
                <li class="list-group-item">Quality management by interfacing to Laboratory Information Management Systems</li>
                </ul>
            </div>
        </div>


        <div class="col">
            <div class="card border-info h-100" style="width: 20rem;">
                <img src="{% static 'img/MCC.jpg' %}" class="card-img-top mb-5" alt="...">
                <div class="card-body">
                <h5 class="card-title">Motor Control and Protection Systems</h5>
                <p class="card-text mb-2">We offer comprehensive design of Motor Control Centres from the traditional types to the modern
                    networked smart solutions. We design and manufacture MCCs as standalone solution and as an
                    integral part of industrial automation turnkey solutions.</p>
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item">MV Soft Starters</li>
                <li class="list-group-item">MV Variable Frequency Drives</li>
                <li class="list-group-item">Direct online Circuit Breaker switched systems</li>
                <li class="list-group-item">Direct online contactor switched drive systems</li>
                <li class="list-group-item">Liquid Resistance Starters, for current limiting, torque or stability control</li>
                </ul>

            </div>
        </div>
    </div>
</div>

<!-- Cards end here -->

<div class="container-fluid bg-primary-subtle text-primary-emphasis text-center mt-5 pt-5 pb-5">
    <h2> WE ARE SUPPLIERS OF THE FOLLOWING PRODUCTS</h2>
    <p> We partner with quality brands to ensure that the service that we give you is of the highest standards.
        We are committed to enable your business with supply and if requested we can fix as well.
    </p>
<!-- Products we seel -->
    <div class="row mt-4">
        <div class="col">
            <img src="{% static 'img/Motor.jpg' %}" class="card-img-top mb-5" alt="...">
        </div>
        <div class="col">
            <img src="{% static 'img/Prolc.jpg' %}" class="card-img-top" style="height: 17em" alt="...">
        </div>
        <div class="col">
            <img src="{% static 'img/drive.jpg' %}" class="card-img-top mb-5" style="height: 270px;" alt="...">
        </div>
        <div class="col">
            <img src="{% static 'img/pvalve.jpg' %}" class="card-img-top mb-5" style="height: 270px;" alt="...">
        </div>
    </div>



    <div class="row">
        <div class="col">
            <img src="{% static 'img/Valve.jpg' %}" class="card-img-top mb-5" alt="img">
        </div>
        <div class="col">
            <img src="{% static 'img/mistu.jpg' %}" class="card-img-top mb-5" alt="mistu">
        </div>
        <div class="col">
            <img src="{% static 'img/Sensors.jpg' %}" class="card-img-top mb-5" alt="sensor">
        </div>
        <div class="col">
            <img src="{% static 'img/elec.jpg' %}" class="card-img-top mb-5" alt="elec">
        </div>
    </div>

    <!-- end Products we seel -->




</div>
{% endblock %}